*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 20px;
}

#general_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /* background-color: crimson; */
}

#resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 35px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    background-color: #333;
    color: #ffffff;
    font-size: 20px;
}

#camara{
    position: relative;
    max-width: 400px;
    max-height: 200px;
    overflow: hidden;
    border: 1px solid #333;
}

#data{
    position: relative;  
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

#data p{
    line-height: 25px;
}

#data p span{
    font-weight: normal;
}

#alert{
    width: 230px;
    height: 150px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 115px);
    font-size: 20px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 5px;
    /* padding: 15px; */
}

#alert p{
    text-align: center;
    margin-bottom: 15px;
 
}

#alertOk{
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}

#newReading{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    opacity: 0.7;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
}